<nav
  [ngClass]="{
    'sm:hidden': !isSticky,
  }"
  class="flex justify-between items-center z-50 sticky top-0 left-0 w-full bg-transparent sm:bg-gray-600/20 px-6 sm:px-12 backdrop-blur-md sm:shadow-xl"
  id="navbar"
>
  <button
    #menuBtn
    class="sm:hidden text-white/90 rounded-lg px-3 py-2 backdrop-blur hover:bg-white/10 transition scale-125"
    aria-label="Abrir menú"
    [attr.aria-expanded]="open"
    (click)="toggleMenu()"
  >
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <div
    class="hidden sm:block h-16 w-16 bg-gradient-to-r from-red-500 to-blue-500 mask mask-image"
    style="
      mask-image: url(&quot;logos/app/jp.svg&quot;);
      mask-repeat: no-repeat;
      mask-size: contain;
    "
  ></div>

  <div
    appScrollScale
    [appScrollScaleEndScroll]="250"
    [appScrollScaleReverse]="true"
    [appScrollScaleMin]="0.4"
    [appScrollScaleMax]="1"
    [appScrollScaleSensitivity]="0.0035"
    [appScrollScaleDecay]="0.9"
    [appScrollScaleSmoothing]="0.2"
    class="sm:hidden h-40 w-40 bg-gradient-to-r from-red-500 to-blue-500 mask mask-image"
    style="
      mask-image: url(&quot;logos/app/jp.svg&quot;);
      mask-repeat: no-repeat;
      mask-size: contain;
    "
  ></div>
  <div class="hidden sm:flex">
    <ng-container *ngTemplateOutlet="menuList"></ng-container>
  </div>
  <div class="sm:hidden w-[47.5px]"></div>
</nav>

<div
  class="hidden sm:flex justify-between items-center z-50 absolute top-[85vh] left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black/20 border border-white/10 shadow-2xl backdrop-blur-3xl rounded-4xl w-max"
  id="menu"
>
  <ng-container *ngTemplateOutlet="menuList"></ng-container>
</div>

<div
  class="mobile-overlay fixed inset-0 z-50 bg-slate-900/40 backdrop-blur-xl text-white md:hidden flex flex-col justify-between items-center"
  [class.open]="open"
  [style.--x.px]="originX"
  [style.--y.px]="originY"
>
  <div class="py-8">
    <div
      class="h-26 w-26 bg-gradient-to-r from-red-500 to-blue-500 mask mask-image"
      style="
        mask-image: url(&quot;logos/app/jp.svg&quot;);
        mask-repeat: no-repeat;
        mask-size: contain;
      "
    ></div>
  </div>
  <div class="grow flex overflow-auto">
    <ng-container *ngTemplateOutlet="menuList"></ng-container>
  </div>
  <div class="flex justify-center p-4">
    <button
      class="text-white/90 rounded-lg px-3 py-2 backdrop-blur hover:bg-white/10 transition scale-125"
      aria-label="Cerrar menú"
      (click)="toggleMenu()"
    >
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
  </div>
</div>

<ng-template #menuList>
  <div
    class="p-2 text-center text-white divide-white/10 divide-y sm:divide-y-0 sm:divide-x flex flex-col sm:flex-row items-center"
  >
    @for (item of menuItems; track $index) {
      @if (item.link !== "#hero" || isSticky) {
        <a
          class="w-full sm:w-auto px-4 py-6 sm:py-2 inline-flex items-center gap-2 cursor-pointer transform transition-transform duration-300 hover:scale-110 hover:sm:scale-100 text-2xl sm:text-base text-startd"
          [ngClass]="{
            'text-purple-200': currentUrl === item.link,
          }"
          [href]="item.link"
          (click)="isSticky ? toggleMenu(false) : null"
        >
          <fa-icon
            [icon]="item.icon"
            [style]="'color:' + item.color + '!important'"
          ></fa-icon>
          {{ item.label }}</a
        >
      }
    }
  </div>
</ng-template>
